# This file tells Git which files shouldn't be added to source control

backend/node_modules
backend/db.sqlite
backend/.env

frontend/node_modules
frontend/dist

scrapper/node_modules
scrapper/storage
scrapper/.idea
