# This file tells Git which files shouldn't be added to source control

backend/node_modules
backend/*.sqlite
backend/.env
backend/trackers

frontend/node_modules
frontend/dist

scrapper/node_modules
scrapper/storage
scrapper/.idea
scrapper/deps
scrapper/db.sqlite
scrapper/products/*.json
__pycache__

